<header class="header">
    <a class="logo" href="/">
        <img src="../../../assets/logo.ico" alt="Farmácia Beta" height="40">
    </a>
    <div class="header-actions">
        <div class="admin-actions" *ngIf="isAdmin">
            <button class="register-product-btn" (click)="navigateToProductRegister()">
                Cadastrar Produto
            </button>
        </div>
        <div class="login-icon">
            <a href="/login" class="user-icon-link">
                <i class="bi bi-person-circle" style="font-size: 2rem; color: #333;"></i>
                <span class="user-icon-text">{{user.name}}</span>
            </a>
        </div>
        <div class="logout-icon">
            <button class="logout-btn" (click)="logout()">Logout</button>
        </div>
    </div>
</header>
