<app-header></app-header>
<div class="box-container">
<div class="product-details">
     <div class="card-image">
        <img [src]="product.img" [alt]="product.name" style="width: 100%; height: auto;"/>
    </div>
    <h2>{{ product.name }}</h2>
    <p><strong>Descrição:</strong> {{ product.description }}</p>
    <p><strong>Preço:</strong> R$ {{ product.price }}</p>
    <p><strong>Categoria:</strong> {{ product.category }}</p>
</div>
<div class="cart-integration">
    <div class="quantity-control">
        <button aria-label="Diminuir quantidade">-</button>
        <span>1</span>
        <button aria-label="Aumentar quantidade">+</button>
    </div>
    <div class="total-price">
        <p><strong>Total:</strong> R$ {{ product.price }}</p>
    </div>
    <button class="add-to-cart-btn">
        Adicionar ao carrinho
    </button>
    <button *ngIf="isAdmin()" class="edit-product-btn" (click)="editProduct()" style="margin-top: 10px; background-color: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">
        Editar Produto (Admin)
    </button>
</div>
</div>
