<app-header></app-header>
<div class="product-container">
  <div class="image-container">
      <button *ngIf="isAdmin()" class="edit-btn" (click)="editProduct()">
      <i class="bi bi-pencil-square"></i>
    </button>
    <img [src]="product.img" [alt]="product.name" class="product-image"/>
  </div>
  
  <div class="info-container">
    <div class="product-info">
      <h2>{{ product.name }}</h2>
     
      <h3 class="price"><strong>Preço:</strong> R$ {{ product.price }}</h3>
      <h4 class="category"><strong>Categoria:</strong> {{ product.category }}</h4>
      <p class="description"><strong>Descrição:</strong> {{ product.description }}</p>
    </div>
    
  
  </div>
</div>
